:root {

  /* CSS HEX */
  --thistle: #dbc2cfff;
  --cool-gray: #9fa2b2ff;
  --cerulean: #3c7a89ff;
  --charcoal: #2e4756ff;
  --gunmetal: #16262eff;

  background-color: var(--gunmetal);
  color-scheme: dark; 
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  animation: fadeIn 2s;
}

header {
  padding: 20px;
  text-align: center;
}

h1, h2 {
  margin: 0;
}

main {
  padding: 50px;
}

section {
  margin-bottom: 30px;
}

h3 {
  margin-bottom: 10px;
}

.about p {
  line-height: 1.5;
}

.skills ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.skills li {
  margin-bottom: 5px;
}

.projects p {
  margin-bottom: 20px;
}

.project {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.project h4 {
  margin-bottom: 5px;
}

.contact p {
  margin-bottom: 10px;
}

.contact ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact li {
  margin-bottom: 5px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  padding: 10px;
  text-align: center;
}

.videos {
  margin-bottom: 30px;
}

.video-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.video {
  width: 30%;
  margin-bottom: 20px;
  text-align: center;
}

.video p {
  margin-top: 10px;
}